<div class="card" style="margin-bottom: 20px">
    <div class="card-header text-center">
        {{article.title}}
    </div>
    <div class="card-body">
        <img [src]="article.urlToImage" style="height: 300px; width: 300px; float: left;margin-right: 10px " alt="" class="img-thumbnail">
        
        <span style="padding-right: 50px" >
            {{article.description}}
        </span>

        <span style="display:block;margin-top: 50px;padding-right: 50px">
            {{article.content}}
        </span>

        <span style="display:block;margin-top: 50px">
            Url : <a href="{{article.url}}">{{article.url}}</a>
        </span>
        <button style="float:right;margin-top:5px" class="btn-success">Edit  </button>
        <button style="float:right;margin-top:5px;margin-left: 10px;margin-right: 10px;" class="btn-success">Delete</button>
    </div>
    <div class="card-footer  text-center text-muted">
        Copy Rights 2019
    </div>
</div>