<div class="card" style="margin-bottom: 20px">
    <div class="card-header text-center">
        Source -  {{sourceType}}
    </div>
    <div class="card-body">
        <div class="panel">
            <div class="row" style="padding-left: 25px ">
                <select  [(ngModel)]='sourceType' (change)="onSourceChange($event)" >
                    <option value="Local">Local</option>
                    <option value="World Wide News">World Wide News</option>
                </select>
                <input style="margin-left:50px" placeholder="Search articles" [(ngModel)]='filterText' />
                <button style="margin-left:50px;width:100px" class="btn-primary" (click)="filterArticles($event)" >Filter</button>
                <!-- <label style="margin-left:30px;" ><input type="checkbox" value="">Only created by me</label> -->
                <button style="margin-left:50px;width:100px" class="btn-primary" (click)="onAddArticle($event)" >Add Article</button>
            </div>
        </div>
        <div class="card" style="padding-left: 15px" *ngFor="let article of articlesList">
            <div class="row">
                <img style="height: 100px; width:100px" [src]="article.urlToImage" alt="..." class="img-thumbnail">
                <span
                    style=" width : 600px; padding-left: 15px; word-wrap: break-word;display: block;">{{article.title}}</span>
                <br />
                <div style="float:right;display: block; margin-left: 20px;"><a class='nav-link' style="cursor: pointer" (click)="onReadMore(article)" ><font style="color:blue">Read more..</font></a></div>
                
                <button *ngIf="sourceType == 'Local' " (click)="onEditDelete(article.id,'Edit')"
                    style="float:right;margin-top:25px;width:80px;margin-left: 15px;height:30px;" class="btn-success">Edit </button>
                <button *ngIf="sourceType == 'Local' " (click)="onEditDelete(article.id,'Delete')"
                    style="float:right;margin-top:25px;width:80px;margin-left: 15px;height:30px;"
                    class="btn-success">Delete</button>
            </div>
        </div>
        
        <div class="card text-center" *ngIf="isLoadMore"  >
            <button (click)="onLoadMore()">Load more..</button>
         </div>
    </div>
    <div class="card-footer  text-center text-muted" >
        Copy Rights 2019
    </div>
</div>