<div class="card" style="margin-bottom: 20px">
    <div class="card-header text-center">
        Edit
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <label>Title</label>
                <input type="text" class="form-control" [(ngModel)]="article.title" placeholder="Title">
            </div>
            <div class="col">
                <label>Date</label>
                <input type="text" class="form-control" [(ngModel)]="article.publishedAt" placeholder="Date">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Description</label>
                <input type="text" class="form-control" [(ngModel)]="article.description" placeholder="Description">
            </div>
            <div class="col">
                <label>Author</label>
                <input type="text" class="form-control" [(ngModel)]="article.author" placeholder="Author">
            </div>
        </div>
        <div class="row">
            <div class="col" style="margin-right: 30px;">
                <label>Content</label>
                <input type="text" class="form-control" [(ngModel)]="article.content" style="height: 200px">
            </div>
            <div class="col">
                <div class="row">
                    <label>Source URL</label>
                    <input type="text" class="form-control" [(ngModel)]="article.url" placeholder="Source URL"></div>
                <div class="row">
                    <label>Image URL</label>
                    <input type="text" class="form-control" [(ngModel)]="article.urlToImage" placeholder="Source URL">
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn-success" (click)="onSave($event)" style="margin-top: 25px;">Save</button>
                    </div>
                    <div class="col">
                        <button class="btn-success" (click)="onCancel($event)" style="margin-top: 25px;">Cancel</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer  text-center text-muted">
        Copy Rights 2019
    </div>
</div>